.app {
  text-align: center;
  background: rgba(255, 255, 255, 0.1); 
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
  color:black; 
  
}
body{
  background-image: url('http://images.assetsdelivery.com/compings_v2/pookpiik/pookpiik1804/pookpiik180400242.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.display{
  font-size: xx-large;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  color:red;
}
.disp{
  font-size: larger;
  color:blue;
}

